[submodule "src/Lunar.Core.Base"]
	path = src/Lunar.Core.Base
	url = https://github.com/Lunar-Framework/Lunar.Core.Base.git
[submodule "external/XamlX"]
	path = external/XamlX
	url = https://github.com/kekekeks/XamlX.git
